---
import Layout from '@layouts/Layout.astro'

import ObligationsForm from '@/components/ObligationsForm.vue'

import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export async function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }]
}
---

<Layout pageTitle={t('nav.simulation')}>
  <h1>{t('nav.simulation')}</h1>
  <ObligationsForm client:load />
</Layout>
