---
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'

import ObligationsForm from '@/components/ObligationsForm.vue'

import { initI18n, getLangFromUrl } from '@/assets/i18n/i18n.ts'

const lang = getLangFromUrl(Astro.url)
const t = await initI18n(lang)

export async function getStaticPaths() {
  return [/*{ params: { locale: 'en' } },*/ { params: { locale: 'fr' } }]
}
---

<Layout
  lang={lang}
  pageTitle={t('nav.simulation')}
  metaDescription={t('simulation.metadescription')}
>
  <Hero
    slot="hero"
    lang={lang}
    heading={t('nav.simulation')}
    subheading={t('simulation.subheading')}
  >
    <span
      slot="icon"
      class="ice-icon icon-timer"
      aria-hidden="true"
    ></span>
  </Hero>
  <ObligationsForm client:load />
</Layout>
