---

---

<h2 class="ice-title-level-2">Champ d'application</h2>
<p class="ice-subtitle">Qu'est-ce-qui est concerné ?</p>
<p>Tout contenu numérique, y compris :</p>
<ul>
  <li>Site web,</li>
  <li>Application mobile,</li>
  <li>Internet,</li>
  <li>Intranet,</li>
  <li>Progiciel,</li>
  <li>Mobilier urbain numérique</li>
</ul>
