---

---
<h2 class="ice-title-level-2">Contexte et objectif</h2>
<p class="ice-block is-blue">Obligally est un projet réalisé et maintenu par la société <a href="https://www.ideance.net">Ideance</a>.</p>
<p>Il est gratuit et peut-être utilisé et diffusé librement. (Voir : <a href="#licence">Licence d'utilisation</a>.) Il ne collecte aucune donnée personnelle ou professionnelle.</p>
<p>Ce projet est né d'un constat effectué au cours de l'année 2025 : l'entrée en vigueur de la directive EAA (European Accessibility Act) a suscité de nombreux questionnements, et parfois confusions, autour des nouvelles obligations légales en matière d'accessibilité numérique. Ces obligations entrent-elles en vigueur en 2025 ou en 2030 ? Qu'est-ce qu'un "produit" et un "service", au sens de cette directive ? Qui est concerné ? Comment se conformer à la fois aux lois françaises et aux directives européennes ?</p>
<p>Pour répondre à ces questions, nous avons mené un travail de recherche et de synthétisation sur l'ensemble des obligations légales en France dans le domaine de l'accessibilité numérique.</p>
<p>Nous avons en particulier résumé les obligations découlant des deux principales lois françaises sur le sujet :</p>
<ul>
  <li>La loi de 2005 pour l'égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées.</li>
  <li>La loi de 2023 portant diverses dispositions d'adaptation au droit de l'Union européenne dans les domaines de l'économie, de la santé, du travail, des transports et de l'agriculture.</li>
</ul>
<p>Ces informations peuvent être retrouvées sous trois formes distinctes :</p>
<ul>
  <li>Sous forme d'infographie, pour un tour d'horizon rapide.</li>
  <li>Sous forme d'article complet, pour une compréhension approfondie du sujet.</li>
  <li>Sous forme de simulateur, pour des informations plus contextualisées.</li>
</ul>
<p>Dans sa version actuelle, le projet se concentre sur les obligations relatives aux supports purement numériques (web, mobile, documents). Les obligations relatives aux produits physiques (terminaux de paiement, liseuses, ordinateurs personnels...) ne sont pas abordées.</p>
<p>Remarque importante : toutes les informations présentes sur ce site sont issues de nos lectures et de notre interprétation des textes de loi. En l'absence de jurisprudence, un flou demeure sur l'interprétation de certains détails. Cet article ne se substitue en aucun cas aux conseils d'un juriste. Si vous représentez une entreprise, n'hésitez pas à contacter votre service juridique pour des informations plus détaillées.</p>
<h2 class="ice-title-level-2">Accessibilité - Site conforme au RGAA</h2>
<p class="ice-block is-green">Cette ressource se veut accessible aux personnes handicapées.</p>
<p>Pour cela, elle a été réalisée puis est maintenue en respectant un certain nombre de règles et de bonnes pratiques d’accessibilité (d’ordre fonctionnel, graphique, technique et éditorial). Notamment toutes celles relatives aux <a href="https://accessibilite.numerique.gouv.fr/methode/criteres-et-tests/">critères du RGAA</a>.</p>
<p class="ice-block is-blue">Cette ressource est d’ailleurs totalement conforme au RGAA.</p>
<p>Toutefois, si vous n’arrivez pas à accéder à un contenu ou à utiliser une fonctionnalité de cette ressource, vous pouvez contacter la société Ideance :</p>
<ul>
  <li><strong>Par email :</strong> en écrivant à l’adresse suivante : <a href="mailto:contact@ideance.fr">contact@ideance.fr</a>.</li>
  <li><strong>Par téléphone :</strong> en appelant le <a href="tel:+33278775982">+33 (0)2 78 77 59 82</a>. Ce numéro est disponible du lundi au vendredi, de 09h00 à 18h00.</li>
  <li><strong>Par voie postale :</strong> en écrivant à l’adresse suivante :<br>Ideance, 23 rue des Sources, 76160 Saint-Léger-du-Bourg-Denis, France.</li>
</ul>
<p>La société Ideance mettra tout en œuvre pour répondre à vos difficultés dans le délai le plus court possible.</p>
<h2 class="ice-title-level-2" id="licence">Licence d'utilisation</h2>
<div class="ice-block is-blue">
  <p>Sauf mention contraire, les contenus de cette ressource sont mis à disposition selon les termes de la <a href="https://creativecommons.org/licenses/by/3.0/fr/">licence «&nbsp;Creative Commons BY 3.0&nbsp;»</a>.</p>
</div>
<p>Vous êtes libres de :</p>
<ul>
  <li>Reproduire, distribuer et communiquer cette création au public.</li>
  <li>Modifier cette création.</li>
</ul>
<p>Selon les conditions suivantes :</p>
<ul>
  <li>Mention de la paternité dès lors que les contenus sont modifiés.</li>
  <li>Indiquer clairement la mention « Ideance » et qu’il s’agit d’une version modifiée. Puis, ajouter un lien vers la page où trouver l’œuvre originale : <a href="https://obligations-legales-accessibilite-numerique.fr/">Obligally - Les obligations légales d'accessibilité numérique en France</a>.</li>
  <li>Vous ne devez en aucun cas citer le nom de l’auteur original d’une manière qui suggérerait qu’il vous soutient ou approuve votre utilisation de l’œuvre sans accord de sa part.</li>
</ul>

