---

---

<h2 class="ice-page-title">Rapide tour d'horizon du cadre légal européen</h2>
<p>En tant que membre de l'Union Européenne, la France est tenue d'appliquer les réglementations européennes, en transposant notamment les directives européennes dans le droit français.</p>
<p>Deux principales directives européennes encadrent l'accessibilité numérique en Europe :</p>
<ul>
	<li>La <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=celex:32016L2102">Directive (UE) 2016/2102 du 26 octobre 2016 relative à l'accessibilité des sites internet et des applications mobiles des organismes du secteur public</a> (dite "WAD" pour "<bdo dir="ltr" lang="en">Web Accessibility Directive</bdo> »). Cette directive définit les obligations d'accessibilité pour les <strong>organismes publics</strong> de tous les pays européens. Elle a été transposée dans la loi française en 2018 puis est entrée en vigueur en France en 2019.</li>
	<li>La <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32019L0882">Directive (UE) 2019/882 du 17 avril 2019 relative aux exigences en matière d’accessibilité applicables aux produits et services</a> (dite "EAA" pour "European Accessibility Act"). Cette directive concerne l'accessibilité de certains produits et services proposés par des <strong>sociétés privées</strong>. Elle a été transposée dans la loi française en 2023 puis est entrée en vigueur en France le 28 juin 2025.</li>
</ul>
<h2 class="ice-title-level-2 with-no-subtitle">Les évolutions réglementaires en France</h2>
<h3 class="ice-title-level-3">La loi fondatrice de 2005</h3>
<p>Les premières obligations légales en France sont antérieures aux directives européennes citées précédemment : dès 2005, la <a href="https://handicap.gouv.fr/la-loi-du-11-fevrier-2005-pour-legalite-des-droits-et-des-chances">loi du 11 février 2005 pour l'égalité des droits et des chances</a>, et très précisément son <a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000037388867">article 47</a>, impose la prise en compte de l'accessibilité numérique <strong>dans tous les organismes publics français</strong>.</p>
<p>Ces obligations légales ont par la suite été enrichies, au gré des transpositions des directives européennes.</p>
<h3 class="ice-title-level-3">2018 : transposition de la WAD et élargissement du champ d'application</h3>
<p>En septembre 2018, la directive européenne "WAD" (2016/2102) est transposée dans la loi française via l'<a href="https://www.legifrance.gouv.fr/jorf/article_jo/JORFARTI000037367812">article 80 de la loi n°2018-771 pour la liberté de choisir son avenir professionnel</a>.</p>
<p>Cependant, la loi française va plus loin que la directive européenne, puisqu'elle impose des obligations d'accessibilité non seulement au secteur public (déjà concerné en France depuis 2005), mais aussi <strong>aux entreprises privées dont le chiffre d'affaires en France dépasse 250 millions d'Euros</strong>.</p>
<p>L'article 47 de la loi de 2005 est alors mis à jour pour refléter cet élargissement des personnes concernées.</p>
<p>Ces obligations sont entrées en vigueur en 2019.</p>
<h3 class="ice-title-level-3">2023 : transposition de l'EAA et modalités de contrôle et de sanction</h3>
<p>En mars 2023, la directive européenne "EAA" (2019/882) est transposée dans la loi française via l'<a href="https://www.legifrance.gouv.fr/loda/id/LEGIARTI000047282795/2023-03-11/">article 16 de la loi 2023-171 portant diverses dispositions d'adaptation au droit de l'Union européenne</a>.</p>
<p>Cet article va apporter de nombreuses modifications à des textes déjà existants :</p>
<ul>
	<li>Mise à jour de l'<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000037388867/">article 47</a> de la loi de 2005 et ajout des articles <a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000048050174/">47-1</a> et <a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000047293285">48</a> pour préciser les <strong>organismes de contrôle et les sanctions</strong>, uniquement pour les personnes concernées par cette loi de 2005 (organismes publics et entreprises privées dont le chiffre d'affaires dépasse 250 millions d'Euros).</li>
	<li>Ajout d'articles dans le code de la consommation, le code des transports, le code monétaire et financier, et le code des postes et des communications, pour y intégrer les nouvelles obligations d’accessibilité liées à <strong>certains types de produits et services</strong>, ainsi que les organismes de contrôles et les sanctions associées.</li>
</ul>
<p>Ces obligations sont entrées en vigueur le 28 juin 2025.</p>
<p>
	<strong>Faisons le point sur tout cela.</strong>
</p>
<h2 class="ice-title-level-2 with-no-subtitle">Qui est concerné par les obligations d'accessibilité numérique ?</h2>
<h3 class="ice-title-level-3">Les organismes publics</h3>
<p>L'<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000037388867">article 47 de la loi du 11 février 2005</a> précise que l'ensemble <strong>des personnes morales de droit public</strong> sont soumises à des exigence en matière d'accessibilité numérique.</p>
<p>Sont par exemples concernés : l’État, les collectivités territoriales (départements, régions, agglomérations…), les établissements publics (hôpitaux, universités, caisses de sécurité sociales…), les groupements d’intérêt public, etc.</p>
<p>
	<strong>Les organismes de droit privé délégataires d’une mission de service public</strong>, ainsi que ceux créés pour satisfaire des besoins d’intérêt général ayant un caractère autre qu’industriel ou commercial (sociétés privées d'exploitation de lignes de transport en commun par exemple) sont également concernés.
                                    </p>
<h3 class="ice-title-level-3">Les entreprises privées dépassant 250 millions d'euros de chiffre d'affaires</h3>
<p>L'article 47 de la loi du 11 février 2005 s'applique également depuis 2019 aux<strong> entreprises</strong>
	<strong>dont le chiffre d'affaires excède 250 millions d’euros </strong>(ce seuil a été fixé par l'article 2 du <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000038811937">décret n°2019-768 du 24 juillet 2019 relatif à l'accessibilité aux personnes handicapées des services de communication au public en ligne</a>).</p>
<h3 class="ice-title-level-3">Les entreprises fournissant des produits et services</h3>
<p>Depuis 2023, l'<a href="https://www.legifrance.gouv.fr/loda/id/LEGIARTI000047282795/2023-03-11/">article 16 de la loi 2023-171 portant diverses dispositions d'adaptation au droit de l'Union européenne</a> étend l'obligation d'accessibilité <strong>aux entreprises fournissant certains types de produits et services</strong>, notamment les ordinateurs, smartphones, tablettes et leurs systèmes d'exploitation, les différents types de terminaux numériques, les services de transports, les services bancaires et le secteur du e-commerce.</p>
<p>Seules les entreprises employant moins de dix personnes <strong>et </strong>dont le chiffre d’affaires annuel n’excède pas deux millions d’euros sont dispensées de cette exigence.</p>
<h2 class="ice-title-level-2 with-no-subtitle">Quelles obligations et quelles sanctions pour les organismes publics et les entreprises privées dépassant 250 millions d'euros de chiffre d'affaires ?</h2>
<h3 class="ice-title-level-3">Les supports concernés</h3>
<p>Dans le cadre de l'<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000037388867">article 47 de la loi du 11 février 2005</a>, et donc pour l'ensemble des <strong>organismes publics</strong>, des entreprises privées délégataires d'une <strong>mission de service public</strong> et pour les <strong>entreprises dépassant 250 millions de chiffres d'affaires</strong>, les supports numériques concernés sont nombreux :</p>
<blockquote>
	<p>L'accessibilité des services de communication au public en ligne concerne l'accès à tout type d'information sous forme numérique, quels que soient le moyen d'accès, les contenus et le mode de consultation, en particulier les <strong>sites internet, intranet, extranet, les applications mobiles, les progiciels et le mobilier urbain numérique.</strong>
	</p>
</blockquote>
<p>Les obligations d'accessibilité concernent donc à la fois les sites et applications tournés vers l’extérieur (citoyens et citoyennes, clientes et clients, partenaires) mais également les supports numériques internes à destination des collaborateurs et collaboratrices.</p>
<h3 class="ice-title-level-3">Les obligations</h3>
<p>Celles concernant les organismes publics et entreprises privées dépassant 250 millions de chiffre d'affaires peuvent être résumées en 3 points :</p>
<h4 class="ice-title-level-4">1. Une obligation de conformité</h4>
<p>Cette conformité peut s'évaluer à partir :</p>
<ul>
	<li>Du <a href="https://accessibilite.numerique.gouv.fr/">Référentiel Général d'Amélioration de l'Accessibilité (RGAA)</a>.</li>
	<li>D'un standard européen comme <a href="https://accessibilite.numerique.gouv.fr/doc/fr_301549v020102p.pdf">EN 301 549</a>
		<sup data-fn="b91d435b-986a-4827-b31f-c30663cf9362">
			<a id="b91d435b-986a-4827-b31f-c30663cf9362-link" href="#b91d435b-986a-4827-b31f-c30663cf9362">1</a>
		</sup>.</li>
	<li>Ou encore avec l'appui des <a lang="en" href="https://www.w3.org/TR/WCAG/" hreflang="en">WCAG (Web Content Accessibility Guidelines)</a> version 2.1 (niveau AA)<sup data-fn="3045556e-a5b6-4c9c-9dc9-ae9c31435afe">
			<a id="3045556e-a5b6-4c9c-9dc9-ae9c31435afe-link" href="#3045556e-a5b6-4c9c-9dc9-ae9c31435afe">2</a>
		</sup>.</li>
</ul>
<p>A noter que pour les organismes publics, le référentiel à utiliser est obligatoirement le RGAA<sup data-fn="a0b5488d-4f52-4edb-81eb-31c1627ddf75">
		<a id="a0b5488d-4f52-4edb-81eb-31c1627ddf75-link" href="#a0b5488d-4f52-4edb-81eb-31c1627ddf75">3</a>
	</sup>.</p>
<h4 class="ice-title-level-4">2. La publication d'une déclaration de conformité et du statut de conformité</h4>
<p>Il s'agit ici d'une obligation de transparence qui passe par la publication de <strong>
		<a href="https://accessibilite.numerique.gouv.fr/obligations/declaration-accessibilite/">déclarations d'accessibilité numérique</a>
	</strong>pour chaque support numérique (site, application mobile, etc.) précisant plusieurs informations comme :</p>
<ul>
	<li>L'état de conformité au regard d'un standard d'accessibilité (obtenu à la suite d'un audit).</li>
	<li>Le détail des non-conformités.</li>
	<li>Des dispositifs d'assistance et de contacts pour signaler les difficultés d'accessibilité rencontrées.</li>
</ul>
<p>Il est également exigé l'affichage d'une mention "Non conforme", "Partiellement conforme" ou "Totalement conforme" dès la page d'accueil des services numériques concernés.</p>
<h4 class="ice-title-level-4">3. La publication d'un schéma pluriannuel d'accessibilité piloté et suivi par un·e référent·e accessibilité</h4>
<p>Afin que les organismes concernés par les obligations d'accessibilité s'engagent dans une démarche d'évaluation et d'amélioration, il est demandé la publication :</p>
<ul>
	<li>D'un<strong>
			<a href="https://accessibilite.numerique.gouv.fr/obligations/schema-pluriannuel/">schéma pluriannuel d'accessibilité</a>
		</strong>.</li>
	<li>De plans d'actions annuels (et leurs bilans).</li>
</ul>
<p>L'ensemble doit être suivi et piloté par <strong>un référent ou une référente accessibilité numérique</strong>.</p>
<h3 class="ice-title-level-3">Les sanctions</h3>
<p>Les modalités de contrôle et de sanctions sont précisées dans l'<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000048050174/2023-10-09">article 47-1 de la loi du 11 février 2005</a>.</p>
<p>Ainsi, les organismes de contrôle peuvent :</p>
<ul>
	<li>Mettre en demeure les organismes concernés de se conformer à leurs obligations.</li>
	<li>Prononcer une sanction pécuniaire :
                                                                    <ul>
			<li>D'un montant maximum de 25 000€ pour manquement dans les publications de déclarations d'accessibilité ou de schémas pluriannuel d'accessibilité (pour l'ensemble des organismes concernés, publics comme privés).</li>
			<li>D'un montant maximum de 50 000€ pour la non prise en compte de l'accessibilité sur un service numérique (exclusivement pour le secteur public à ce jour).</li>
		</ul>
	</li>
	<li>Prononcer une sanction de publicité (obligation d'affichage d'un message sur le service numérique par exemple).</li>
	<li>Prononcer de nouvelles sanctions supplémentaires si le manquement perdure au bout de 6 mois.</li>
</ul>
<h3 class="ice-title-level-3">Les organismes de contrôle</h3>
<p>Depuis mars 2023, l'<a href="https://www.arcom.fr/">Arcom</a> (Autorité de régulation de la communication audiovisuelle et numérique) est chargée de contrôler les services de communication audiovisuelle, mais également l'ensemble des <strong>services publics</strong> et les <strong>entreprises qui dépassent 250 millions de chiffre d'affaires</strong>.</p>
<h2 class="ice-title-level-2 with-no-subtitle">Quelles obligations et quelles sanctions pour les entreprises fournissant des produits et services ?</h2>
<p>Pour les entreprises privées dépassant 250 millions d'euros de chiffre d'affaires <strong>et </strong>fournissant des produits et services, ces obligations viennent s'ajouter aux obligations mentionnées précédemment.</p>
<h3 class="ice-title-level-3">Les supports concernés</h3>
<p>Pour ces plus récentes obligations, mises en place en mars 2023 et entrées en vigueur le 28 juin 2025, les obligations concernent directement les produits et services cités dans la directive <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32019L0882">EAA (2019/882)</a> :</p>
<ul>
	<li>Dans le domaine des produits :
    <ul>
			<li>Les ordinateurs, smartphones, tablettes... et leurs systèmes d'exploitation.</li>
			<li>Les terminaux de paiement, les guichets de banque automatiques, les distributeurs de titres de transports, les bornes interactives.</li>
			<li>Les liseuses numériques.</li>
		</ul>
	</li>
	<li>Dans le domaine des services :
    <ul>
			<li>Services de communications électroniques.</li>
			<li>Services fournissant un accès à des services de médias audiovisuels.</li>
			<li>Pour les services de transport (notamment aérien et ferroviaire) : sites internet, applications mobiles, billets et billetteries électroniques, informations sur les services (y compris en temps réel).</li>
			<li>Services bancaires aux consommateurs.</li>
			<li>Livres numériques et logiciels spécialisés.</li>
			<li>Commerce électronique.</li>
		</ul>
	</li>
</ul>
<p>Le détail des produits et services concernés est disponible dans l'<a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32019L0882#art_2">article 2 de la directive EAA (2019/882)</a>.</p>
<p>Il existe toutefois quelques mesures de transition :</p>
<ul>
	<li>Pour les produits mis sur le marché avant le 28 juin 2025, possibilité de continuer à fournir des solutions non conformes jusqu'au 28 juin 2030.</li>
	<li>Même chose pour les services contractualisés avant le 28 juin 2025 qui peuvent se poursuivre sans modification jusqu'au 28 juin 2030.</li>
	<li>Pour les terminaux en libre-service déployés avant le 28 juin 2025, ceux-ci peuvent être conservés sur une durée de vie "économiquement utile" sans toutefois dépasser 15 ans à compter de la date de mise en service.</li>
</ul>
<p>Le détail est disponible dans l'<a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX:32019L0882#art_32">article 32 de la directive européenne EAA (2019/882)</a> et dans le point <a href="https://www.legifrance.gouv.fr/loda/id/LEGIARTI000047282795/2023-03-11/">VIII de l'article 16 de la loi 2023-171</a>.</p>
<p>Remarque : au sens de la directive européenne EAA (2019/882), un produit est "une substance, une préparation ou une marchandise produite par un procédé de fabrication"<sup data-fn="038ca99f-20b5-4cd2-a131-3c2f6be1703f">
		<a id="038ca99f-20b5-4cd2-a131-3c2f6be1703f-link" href="#038ca99f-20b5-4cd2-a131-3c2f6be1703f">4</a>
	</sup>. Cette définition exclut donc les sites internet, applications et logiciels de la notion de "produit". Un site internet, une application ou un logiciel est concerné par la directive s'il fournit l'un des services listés ci-dessus. Il est alors soumis aux obligations dès le 28 juin 2025.</p>
<h3 class="ice-title-level-3">Les obligations</h3>
<p>Pour la plupart des produits et services (notamment e-commerce), les articles <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000047284913">L412-13</a>, <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000048180186/2023-10-11">D412-51</a> et <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000048180389/2023-10-11">D412-57</a> du code de la consommation fixent les obligations des fabricants et des prestataires de services.</p>
<h4 class="ice-title-level-4">1. Une obligation de conformité</h4>
<p>Les fabricants et prestataires doivent mettre sur le marché des produits et services accessibles, et s'assurer du maintien de leur accessibilité au cours de leur évolution.</p>
<p>Ces obligations découlant directement de la directive européenne EAA (2019/882), la norme à appliquer est la norme européenne <a href="https://digital-strategy.ec.europa.eu/fr/policies/web-accessibility-directive-standards-and-harmonisation">EN 301 549</a> (qui sera prochainement mise à jour pour supporter officiellement la directive EAA<sup data-fn="41cc6e15-e784-4e7c-bf7f-2c138233decd">
		<a id="41cc6e15-e784-4e7c-bf7f-2c138233decd-link" href="#41cc6e15-e784-4e7c-bf7f-2c138233decd">5</a>
	</sup>).</p>
<p>La conformité peut s'évaluer directement via cette norme, ou, <strong>pour les services web</strong>, à partir :</p>
<ul>
	<li>Du <a href="https://accessibilite.numerique.gouv.fr/">Référentiel Général d'Amélioration de l'Accessibilité (RGAA)</a>.</li>
	<li>Des <a lang="en" href="https://www.w3.org/TR/WCAG/" hreflang="en">WCAG (Web Content Accessibility Guidelines)</a> version 2.2 (niveau AA).</li>
</ul>
<p>Ces deux derniers référentiels ne couvrent toutefois pas l'intégralité de la norme EN 301 549, dont les exigences sont un peu plus larges (notamment en ce qui concerne les services d'assistance, la communication en temps réel, les outils d'édition et la documentation relative à l'accessibilité).</p>
<h4 class="ice-title-level-4">2. Une obligation de transparence</h4>
<p>Les fabricants et prestataires de services sont tenus de mettre à disposition du public, sous forme accessible, <strong>des informations sur la manière dont ils satisfont aux exigences d'accessibilité</strong>. Aucun formalisme précis n'est requis à ce jour. Toutefois, le modèle de déclaration d'accessibilité fourni par le RGAA peut permettre de répondre à cette obligation et peut éventuellement servir d'inspiration.</p>
<p>Si le produit ou le service est non-conforme, les fabricants et prestataires doivent <strong>en informer les autorités de contrôle et prendre les mesures correctives nécessaires</strong>.</p>
<p>Enfin, les fabricants et prestataires doivent être en capacité de <strong>fournir une preuve de la conformité</strong> de leur produit ou service sur demande des autorités de contrôle.</p>
<h4 class="ice-title-level-4">3. Des obligations spécifiques pour les produits et pour certains types de services</h4>
<p>Des obligations plus spécifiques (documentation technique, marquage CE, numéro de série...) sont prévues pour les fabricants de produits et sont listées dans l'<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000048180186">article D412-51 du code de la consommation</a>.</p>
<p>De même :</p>
<ul>
	<li>Les obligations relatives aux services de paiement et autres services financiers sont précisées dans le <strong>code monétaire et financier</strong>.</li>
	<li>Les obligations relatives aux services de transports sont précisées dans le <strong>code des transports</strong>.</li>
	<li>Les obligations relatives aux services de communication électroniques sont précisées dans le <strong>code des postes et des communications électroniques</strong>.</li>
</ul>
<p>La liste complète des articles ajoutés et modifiés dans ces codes pour la prise en compte de l'accessibilité numérique est disponible dans l'<a href="https://www.legifrance.gouv.fr/loda/id/LEGIARTI000047282795/2023-03-11/">article 16 de la loi 2023-171 portant diverses dispositions d'adaptation au droit de l'Union européenne</a>.</p>
<h3 class="ice-title-level-3">Les sanctions</h3>
<p>L'article <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000048180406/2023-10-11">R451-4</a> du code de la consommation prévoit une <strong>contravention de 5e classe</strong> pour tout manquement aux obligations listées ci-dessus. Pour une personne morale (une entreprise par exemple), le montant d'une contravention de 5e classe est de <strong>7 500 €</strong> (15 000 € en cas de récidive)<sup data-fn="8937f817-66f8-4318-8185-a18fcad0fd33">
		<a id="8937f817-66f8-4318-8185-a18fcad0fd33-link" href="#8937f817-66f8-4318-8185-a18fcad0fd33">6</a>
	</sup>.</p>
<p>De plus, pour toute infraction au code de la consommation, les agents de la DGCCRF peuvent procéder à une injonction de se conformer aux obligations. Cette injonction peut être assortie d'une <strong>astreinte journalière d'un montant maximum de 3 000 €</strong> (pour un total ne pouvant excéder 300 000 €).</p>
<h3 class="ice-title-level-3">Les organismes de contrôle</h3>
<p>Depuis mars 2023, ont été nommées<strong> des autorités compétentes</strong> pour rechercher, contrôler et constater les infractions :</p>
<ul>
	<li>La <a href="https://www.economie.gouv.fr/dgccrf">DGCCRF</a> (Direction générale de la Concurrence, de la Consommation et de la Répression des fraudes). Elle joue un rôle transverse dans le contrôle des exigences d'accessibilité aux produits et services, incluant dans son périmètre le <strong>secteur du e-commerce</strong>.</li>
	<li>Pour les services de communication électronique : l'<a href="https://www.arcep.fr/">Arcep</a> (Autorité de régulation des communications électroniques, des postes et de la distribution de la presse).</li>
	<li>Pour les services bancaires : l'<a href="https://acpr.banque-france.fr/">ACPR</a> (Autorité de contrôle prudentiel et de résolution), l'<a href="https://www.amf-france.org/fr">Autorité des marchés financiers</a> (AMF) et la <a href="https://www.banque-france.fr/">Banque de France</a> (plus spécifiquement pour l'accessibilité des systèmes d’identification, des signatures électroniques et des services de sécurité et de paiement).</li>
</ul>
<p class="ice-block">Toutes ces informations sont issues de nos lectures et de notre interprétation des textes de loi. En l'absence de jurisprudence, un flou demeure sur l'interprétation de certains détails. Cet article ne se substitue en aucun cas aux conseils d'un juriste. Si vous représentez une entreprise, n'hésitez pas à contacter votre service juridique pour des informations plus détaillées.</p>

