---
import WrapperDisclosure from '@/components/WrapperDisclosure.vue'
---

<img
  class="ice-infographic"
  alt="{t'(visualisation.image_alt)}"
  src="/images/Arbre.jpg"
/>
<WrapperDisclosure client:load>
  <h2 class="no-margin-bottom" slot="button">Description détaillée de l'infographie</h2>
  Description détaillée...
</WrapperDisclosure>
