---
import WrapperDisclosure from '@/components/WrapperDisclosure.vue'
import { initI18n, getLangFromUrl } from '@/assets/i18n/i18n.ts'

const lang = getLangFromUrl(Astro.url)
const t = await initI18n(lang)
---

<img
  class="ice-infographic"
  alt={t('visualiser.image_alt')}
  src="/images/arbre.jpg"
/>
<WrapperDisclosure
  client:load
  buttonWrapperElem="h2"
  buttonWrapperClass="no-margin-bottom"
>
  <Fragment slot="button">
    <span>Description détaillée de l'infographie</span>
    <span
      class="ice-icon icon-plus"
      aria-hidden="true"
    ></span>
  </Fragment>
  Description détaillée...
</WrapperDisclosure>
