//--- Colors palette

///--- Main colors
$primary-color:     #0a42f7;
$primary-darker:    #9801ff;
$secondary-color:   #ffd100;
$tertiary-color:    #37738E;
$tertiary-light:    #A3CADB;

///--- Basic colors
$white-color: #ffffff;
$black-color: #000000;
$red-color : #F93F4F;

///--- Grays
$gray-1: #2C3E50;
$gray-2: #3C4D5D;
$gray-3: #E8EFEF;
$light-gray: #F5F7FA;
$light-blue: #F3F8FD; //#bed2de;
