//--- Fields
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

//--- Transitions
@mixin transition-default($properties...) {
  transition-property: $properties;
  transition-duration: $transition-dur;
  transition-timing-function: $transition-ftn;
}

//--- Smooth transition for underlining links
@mixin smooth-underline($class, $color: $link-c, $underline-color: $link-underline-c) {
  .#{$class} {
    color: $color;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: transparent;
    @include transition-default(color, text-decoration-color);
  }

  &:hover,
  &:focus {
    .#{$class} {
      color: darken($color, 10%);
      text-decoration-color: $underline-color;
    }
  }
}

@mixin round-shape($size) {
  flex-basis: $size;
  height: $size;
  width: $size;
  border-radius: calc(#{$size} /2);
}

@mixin with-gradient() {
	background-color: transparent;
	background-image: linear-gradient(to bottom, transparent, $gray-3);
	background-repeat: no-repeat;
}