//--- Transitions
@mixin transition-default($properties...) {
  transition-property: $properties;
  transition-duration: $transition-dur;
  transition-timing-function: $transition-ftn;
}

//--- Smooth transition for underlining links
@mixin smooth-underline($class, $color: $link-c, $underline-color: $link-underline-c) {
  .#{$class} {
    color: $color;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: transparent;
    @include transition-default(color, text-decoration-color);
  }

  &:hover,
  &:focus {
    .#{$class} {
      color: darken($color, 10%);
      text-decoration-color: $underline-color;
    }
  }
}
