$home-header-bg-c: $gray-3;
$home-header-bd-c: #8793f2;

.ice-home-header {
  position: relative;
  margin-bottom: 3.5rem;
  padding: 1.6rem 2rem 1.8rem;
  background: $home-header-bg-c;
  text-align: center;

  @include for-large-mobile-and-upper {
    border-top: 0.2rem solid $home-header-bd-c;
  }

  @include for-tablet-and-upper {
    &:before {
      content: "";
      z-index: 1;
      position: absolute;
      top: -14.5rem;
      left: -14.9rem;
      right: -14.9rem;
      height: 16.4rem;
      display: block;
      background-color: transparent;
      background: url("#{$img-path}/bg_header_home_left.png") top left no-repeat, url("#{$img-path}/bg_header_home_right.png") top right no-repeat;
      background-size: auto 100%;
    }
  }
  
  @include for-tablet {
    margin-bottom: 5rem;
  }

  @include for-desktop {
    margin-bottom: 6rem;
    padding: 2.3rem 2rem 2.5rem;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: calc(50% - #{$red-line-wth-mob}/2);
    height: 0.5rem;
    width: $red-line-wth-mob;
    background: $red-color;
    
    @include for-desktop {
      left: calc(50% - #{$red-line-wth-dtp}/2);
      width: $red-line-wth-dtp;
    }
  }
}

.ice-home-title {
  @extend %h1;
  line-height: 1.15;
  font-size: 3.2rem;

  @include for-desktop {
    font-size: 3.7rem;
  }
}

.ice-home-subtitle {
  margin-bottom: 0;
  color: $tertiary-color;
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;

  @include for-desktop {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    font-weight: 900;
  }

  @include for-large-screen {
    font-size: 1.7rem;
  }
}

.ice-list-posts.on-home {
  position: relative;
  padding-bottom: 6rem;
  text-align: center;

  @include for-mobile {
    padding-bottom: 2rem;
  }

  .ice-post-teaser {
    margin-bottom: 0;
    margin-bottom: 3rem;

    @include for-desktop {
      margin-bottom: 6rem;
    }

    &.collapse {
      display: none;

      &.show {
        display: flex;
      }
    }
  }

  .ice-btn-more {
    @include for-large-mobile-and-upper {
      position: absolute;
      bottom: -1.8rem;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    & + .ice-post-teaser {
      margin-top: 3rem;
    }
  
    &[aria-expanded="true"] {
      @extend .sr-only;
    }
  
    &.collapse {
      display: none;
  
      &.show {
        display: inline-flex;
      }
    }
  }
}