$footer-bg: $white-color;
$footer-c: $global-c;
$footer-bd-c: #D0DEE7;
$footer-logo-size: 6rem;

.ice-footer {
  min-height: $footer-hgt;
  margin-top: 3rem;
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  background: $footer-bg;
  border-top: 1.8rem solid $footer-bd-c;
  color: $footer-c;

  @media (prefers-color-scheme: dark) {
    background: $global-c;
    border-top-color: $tertiary-color;
    color: $white-color;
  }

  @include for-tablet-and-upper {
    margin-top: 5rem;
    padding-top: 4.5rem;
    padding-bottom: 6.5rem;
  }
}

.ice-footer-inner {
  @include for-tablet-and-upper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  ul {
    @extend %reset-list;
  }

  a:not(.ice-social-link) {
    @include link();

    @media (prefers-color-scheme: dark) {
      @include link($white-color, #4692B4, transparent);
    }

    &.is-bold {
      font-weight: bold;
    }
  }
}

.ice-footer-logo {
  display: none;

  @include for-tablet-and-upper {
    display: inline-flex;
    flex: 0 0 $col-2;
    padding-left: $gutter-hz;
    padding-right: $gutter-hz;

    svg {
      fill: $primary-color;
      max-width: 100%;
      width: $footer-logo-size;
      height: auto;
    }
  }

  @include for-desktop {
    flex-basis: $col-1;
    margin-left: $col-1;
  }

  @media (prefers-color-scheme: dark) {
    svg {
      fill: $white-color;
    }
  }
}

.ice-footer-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include for-tablet {
    flex: 0 0 $col-6;
  }

  @include for-desktop {
    flex: 0 0 $col-6;
    padding-left: $gutter-hz;
    padding-right: $gutter-hz;
  }

  p:not(:last-of-type) {
    margin-bottom: 0;
  }

  a {
    display: inline-flex;
    line-height: 1.25;
    margin-bottom: 0.7rem;
  }
}

.ice-footer-links {
  @include for-mobile {
    margin-top: 3rem;
  }

  @include for-tablet-and-upper {
    flex: 0 0 $col-2;
    margin-left: $col-1;
    margin-right: $col-1;
  }

  @include for-desktop {
    padding-left: $gutter-hz;
    margin-top: 0;
  }

  .ice-social-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.9rem;

    .ice-social-link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      border-radius: 2.3rem;
      box-shadow: none;
      color: white;
      text-decoration: none;
      width: 4.5rem;
      height: 4.5rem;
      margin: 0 1.2rem 0 0;

      @media (prefers-color-scheme: dark) {
        background-color: $tertiary-color;
        color: $white-color;
      }

      .ice-icon {
        font-size: 2.5rem;
      }
    }
  }

  a[aria-current="page"] {
    font-weight: bold;
  }
}
