$header-top-hgt-dtp: 6rem;
$header-top-bg: $light-blue;
$header-top-c: $global-c;
$header-top-bx-shw: rgba(0, 0, 0, 0.3) 0 0.2rem 0.7rem 0;

.ice-header-top {
  z-index: 5;
  position: relative;
  background: transparent;
  color: $header-c;
  font-size: 1.5rem;

  @include for-tablet-and-upper {
    background: $header-top-bg;
    box-shadow: $header-top-bx-shw;
    color: $header-top-c;

    @media (prefers-color-scheme: dark) {
      background-color: $header-top-c;
      box-shadow: rgba(0, 0, 0, 0.3) 0 0.2rem 0.7rem 0;
      color: $header-top-bg;
    }
  }
}

.ice-header-top-inner {
  min-height: 7rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include for-tablet {
    min-height: 5rem;
  }

  @include for-desktop {
    min-height: $header-top-hgt-dtp;
  }

  .ice-btn {
    @extend %reset-button;
    @extend %button;
    border: 0.1rem solid $gray-1;

    .ice-icon {
      margin-right: 1rem;
      font-size: 1.5rem;

      &:before {
        padding-bottom: 0.1rem;
        letter-spacing: -0.85rem;
      }
    }
  }
}

.ice-header-nav {
  display: flex;
  margin-left: auto;

  ul {
    @extend %reset-list;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $global-c;
    text-align: center;

    @include for-mobile {
      position: absolute;
      z-index: 10000;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 100%;
      left: 0%;
      right: 0;
      height: auto;
      width: 100vw;
      padding: 6rem 3rem;
      background: white;
      box-shadow: 0 0.3rem 0.4rem 0 rgba(0, 0, 0, 0.15);

      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.55);
        background: $global-c;
      }
    }

    li {
      margin: 1.5rem 0;

      @include for-tablet-and-upper {
        margin: 0 2rem;
      }
    }
  }

  a {
    @include link($global-c, transparent, $primary-darker);
    font-size: 1.9rem;

    @media (prefers-color-scheme: dark) {
      @include link($white-color, $white-color, transparent);
    }

    @include for-tablet-and-upper {
      @include link($link-c, transparent, $link-underline-c);
      font-size: 1.5rem;

      @media (prefers-color-scheme: dark) {
        @include link($white-color, transparent, $white-color);
      }
    }

    &[aria-current="page"] {
      font-weight: bold;
    }
  }
}

.ice-header-nav-trigger {
  min-height: 4.7rem;
  padding: 0.5rem 1rem;
  background: $primary-color;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 1rem 1rem 0 #00000026;

  .line {
    display: block;
    margin: 0.7rem auto;
    background-color: white;
    border-radius: 0.2rem;
    height: 0.25rem;
    width: 2.7rem;
    @include transition-default(all);
  }

  @media (prefers-color-scheme: dark) {
    background: $global-c;
  }

  &[aria-expanded="true"] {
    .line:nth-child(1) {
      transform: rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -1.9rem;
    }
  }

  @include for-mobile {
    &[aria-expanded="false"] + ul {
      display: none;
      left: 100%;
    }
  }

  @include for-tablet-and-upper {
    display: none;
  }
}
