.ice-section {
  clear: both;
  max-width: 100%;
  margin-bottom: 6rem;

  @include for-tablet-and-upper {
    margin-bottom: 6rem;
  }

  &.is-narrow {
    @include for-tablet-and-upper {
      margin-left: $col-2;
      margin-right: $col-2;
    }

    @include for-desktop {
      margin-left: $col-2;
      margin-right: $col-2;
    }
  }
}
