.ice-section {
  clear: both;
  max-width: 100%;
  margin-bottom: 6rem;

  & + &.with-border-top {
    border-top: 0.15rem solid $primary-darker;

    @media (prefers-color-scheme: dark) {
      border-top-color: $secondary-color;
    }
  }

  &.is-narrow {
    @include for-tablet-and-upper {
      margin-left: $col-2;
      margin-right: $col-2;
    }

    @include for-desktop {
      margin-left: $col-2;
      margin-right: $col-2;
    }
  }
}

.ice-block + .with-border-top {
  padding-top: 0;
  border-top: 0;
}
