.ice-section {
  clear: both;
  max-width: 100%;
  margin-bottom: 6rem;

  &.wrapper-obligation + .wrapper-obligation {
    padding-top: 6rem;
    border-top: 0.15rem solid $primary-darker;
  }

  &.is-narrow {
    @include for-tablet-and-upper {
      margin-left: $col-2;
      margin-right: $col-2;
    }

    @include for-desktop {
      margin-left: $col-2;
      margin-right: $col-2;
    }
  }
}
