//--- CITATIONS
blockquote {
  margin: 0 0 1.5rem;
  padding: 0.9rem 0 0.9rem 2rem;
  border-left: 0.3rem solid $secondary-color;
  border-radius: 0.2rem;
  font-style: italic;
  line-height: 1.6;

  @include for-tablet-and-upper {
    padding-left: 2.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

//--- PARAGRAPHS
p {
	margin-bottom: 1.5rem;

	@include for-tablet-and-upper {
		margin-bottom: 1.6rem;
	}
}

//--- LISTS
.with-typo-styles {
	a {
		@extend %link;
	}

	ul,
	ol {
		margin-bottom: 1.7rem;

    @include for-tablet-and-upper {
      margin-bottom: 1.8rem;
    }
	}

	ul {
		@extend %reset-list;
		margin-left: 2.2rem;

    @include for-tablet-and-upper {
      margin-left: 2.6rem;
    }

		li {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 1rem;
				left: -2.2rem;
				display: block;
				height: 0.7rem;
				width: 0.7rem;
				margin-top: 0.1rem;
				background: $tertiary-color;
				border-radius: 50%;

        @media (prefers-color-scheme: dark) {
          background-color: $secondary-color;
        }

        @include for-tablet-and-upper {
          left: -2.6rem;
        }
			}

      ul {
        margin-top: 0.7rem;
      }
		}
	}

  ol {
		padding: 0;
    margin: 0;
		margin-left: 2.2rem;

    @include for-tablet-and-upper {
      margin-left: 2.6rem;
    }

    li {
      padding-left: 0.5rem;
    }
  }

  p + ul {
    margin-top: -0.7rem;
  }

	li {
		margin-bottom: 1.125rem;

		@include for-tablet-and-upper {
			margin-bottom: 1.2rem;
		}
	}
}

//--- KEYBOARD
kbd {
	margin: 0 0.3rem;
	padding: 0.05rem 0.5rem;
	background: #eef;
	border: 0.1rem solid #cccccc;
	border-radius: 0.3rem;
	font-family: "Vera Mono", monospace;
	font-size: 0.9em;
}

$gutter-typo-mob: 1.5rem;
$gutter-typo-dtp: 1.6rem;
$gutter-typo-mob-lg: 2.2rem;
$gutter-typo-dtp-lg: 2.5rem;

//--- HR / SEPARATOR
.with-typo-styles hr {
	margin: 3.6rem auto;
	position: relative;
	display: block;
	max-width: 25rem;
	width: 75%;
	border: 0;
	border-top: 0.1rem solid $light-blue;

	@include for-tablet-and-upper {
		margin-top: 4.5rem;
		margin-bottom: 4.5rem;
	}

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		display: block;
		height: 0.5rem;
		width: 0.5rem;
		background: #99b3ca;
		transform: translate(0, -50%) rotate(45deg);
	}
}

//--- TABLEAUX
.ice-table {
	display: block;
	padding-bottom: 1.2rem;
	border-collapse: collapse;
	overflow-x: auto;

	th {
		padding: 1rem;
    background: $light-blue;
		border: 0;
    font-size: 1.6rem;
		font-weight: bold;
		text-align: center;
    line-height: 1;

    @media (prefers-color-scheme: dark) {
      background-color: transparent;
      border: 0.1rem solid #939DA7;
      color: $tertiary-light;
    }

    @include for-desktop {
      padding: 1.7rem 1.5rem;
      font-size: 1.7rem;
    }
	}

  td {
		padding: 1rem;
    border: 0.1rem solid #939DA7;

    @include for-desktop {
		  padding: 1.6rem 2.2rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 0.7rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

	figcaption {
		margin-top: 0.8rem;
		color: lighten($global-c, 5%);
		font-size: 1.4rem;
		font-style: italic;
		line-height: 1.5;
	}
}

//--- PANNEAUX DÉPLIANTS
.ice-disclosure {
	display: flex;
  flex-direction: column;
  align-items: center;

	.ice-disclosure-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1.3rem 2rem;
    background: transparent;
    border: 0.1rem solid #D9D9D9;
    border-radius: 2.7rem;
    color: $tertiary-color;
		font-weight: bold;
    font-size: 1.7rem;
    text-align: left;
    line-height: 1.35;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      background-color: #273646;
      border: 0.2rem solid $tertiary-color;
      color: $white-color;
    }

    @include for-tablet-and-upper {
      padding: 1.5rem 2.5rem;
      border-radius: 2.7rem;
      font-size: 1.8rem;
		  text-align: center;
    }

    & > * {
      margin: 0;
      font-size: inherit;
    }

    &[aria-expanded="true"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;

      @include for-small-mobile {
        width: 100%;
      }

      .icon-plus:before {
        content: "\e903";
      }
    }

    .ice-icon {
      margin-left: 1rem;
    }
	}
}

.ice-disclosure-panel {
  display: block;
  width: 100%;
  padding: 1.8rem 1.8rem 2.4rem;
  background: none;
  border: 0.1rem solid #D9D9D9;
  border-radius: 2rem;

  @include for-small-mobile {
    border-radius: 0 0 2rem 2rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: darken($global-c, 5%);
    border-color: $tertiary-color;
    border-width: 0.2rem;
  }

  @include for-tablet-and-upper {
    padding: 2.5rem 4rem;
    border-radius: 2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .ice-disclosure-heading[aria-expanded="false"] + & {
    display: none;
  }
}

//--- IMAGES
.ice-infographic {
  max-width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  border: 0.1rem solid $gray-3;
}
