.ice-block {
  margin: 3rem auto;
  padding: 1.5rem 1.9rem;
  background: $light-blue;
  border-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0 0.1rem $gray-3;
  color: $tertiary-color;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;

  @include for-tablet-and-upper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2.4rem 3rem;
  }

  a {
    @include link($tertiary-color, $primary-darker);
  }

  p:last-child {
    margin-bottom: 0;
  }
}
