.ice-block {
  margin: 2rem auto;
  padding: 1.8rem 1.8rem 2rem;
  background: $light-blue;
  border-radius: 1rem;
  color: $tertiary-color;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;

  @include for-tablet-and-upper {
    margin: 3rem auto;
    padding: 2.2rem 2.8rem;
    line-height: 1.55;
  }

  a {
    @include link($tertiary-color, #29566B);
    font-weight: 500;
  }

  @media (prefers-color-scheme: dark) {
    background: $tertiary-color;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.2rem 0.7rem 0;
    color: $white-color;

    a {
      @include link($white-color, $tertiary-light);
    }
  }

  p:last-child,
  ul:last-child,
  ol:last-child,
  ul:last-child li:last-child,
  ol:last-child li:last-child {
    margin-bottom: 0;
  }

  &.is-red {
    color: #923a3c;
    background-color: #feeced;

    @media (prefers-color-scheme: dark) {
      background: #923a3c;
      color: $white-color;
    }
  }

  &.is-blue {
    background: #e8f2f6;
    border-left: 0.4rem solid #8ebed3;
    border-radius: 0.3rem;
    color: $global-c;
    font-weight: normal;

    a {
      @include link($global-c, $tertiary-color);

      @media (prefers-color-scheme: dark) {
        @include link($white-color, $white-color);
      }
    }

    @media (prefers-color-scheme: dark) {
      background: $tertiary-color;
      color: $white-color;
    }
  }

  &.is-green {
    background-color: #eaf6e8;
    border-left: 0.4rem solid #7cc770;
    border-radius: 0.3rem;
    color: $global-c;
    font-weight: normal;

    a {
      @include link($global-c, $tertiary-color);

      @media (prefers-color-scheme: dark) {
        @include link($white-color, $white-color);
      }
    }

    @media (prefers-color-scheme: dark) {
      background: #3B7C30;
      color: $white-color;
    }
  }

  &.no-margin-top {
    margin-top: 0;
  }
}

.ice-summary {
  margin: 2rem -1.5rem;
  padding: 2rem 2.5rem 2.5rem;
  border: 0.2rem solid $tertiary-light;
  border-left: 0;
  border-right: 0;
  color: $global-c;
  font-weight: normal;
  text-align: center;

  @include for-tablet-and-upper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem 0;
    padding: 2.3rem 2.8rem;
    border: 0.2rem solid $tertiary-light;
    border-radius: 1.2rem;
    text-align: left;
  }

  @media (prefers-color-scheme: dark) {
    background: darken($global-c, 2%);
    border-color:$white-color;
    color: $white-color;
  }

  .ice-icon {
    color: $tertiary-color;
    font-size: 6rem;

    @media (prefers-color-scheme: dark) {
      color: $secondary-color;
    }

    @include for-tablet-and-upper {
      font-size: 5.5rem;
    }
  }

  .ice-summary-body {
    margin-top: 1.5rem;

    @include for-tablet-and-upper {
      margin-top: 0;
      margin-left: 2.5rem;
    }
  }

  .ice-summary-title {
    margin-bottom: 1.2rem;
    color: $tertiary-color;
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 1.2;

    @media (prefers-color-scheme: dark) {
      color: $white-color;
    }

    @include for-desktop {
      margin-bottom: 0.7rem;
      font-size: 2.2rem;
    }
  }

  p {
    margin-bottom: 1rem;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ice-btn-tertiary {
    margin-top: 1rem;
  }
}
