$button-primary-bg: $primary-color; // linear-gradient(to right, transparent 0%, $primary-darker 100%);
$button-primary-c: $white-color;
$button-secondary-bg: $white-color;
$button-secondary-c: $primary-color;
$button-tertiary-bg: $gray-3;
$button-tertiary-c: $global-c;

%button {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 4.5rem;
  padding: 0.9rem 2.8rem;
  border-radius: 2.3rem;
  border: 0;
  box-shadow: 0 0.3rem 0.4rem 0 rgba(0,0,0,0.15);
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  @include transition-default(background-color, box-shadow, color);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0.3rem 0.4rem 0 rgba(0,0,0,0.3);
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 0.3rem 0.8rem 0 rgba(0,0,0,0.24);

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0.3rem 0.4rem 0 rgba(0,0,0,0.55);
    }
  }

  @include for-tablet-and-upper {
    min-height: 5rem;
    padding: 0.8rem 4.5rem;
    border-radius: 2.5rem;
    font-size: 1.8rem;
  }
}

.ice-btn-primary {
  @extend %reset-button;
  @extend %button;
  background: $button-primary-bg;
  color: $button-primary-c;

  @media (prefers-color-scheme: dark) {
    background-color: $tertiary-color;
    color: $white-color;
  }

  &:hover,
  &:focus {
    opacity: 1;
    background: darken($primary-color, 10%);
    color: $button-primary-c;

    @media (prefers-color-scheme: dark) {
      background: darken($tertiary-color, 5%);
      color: $white-color;
    }
  }
}

.ice-btn-secondary {
  @extend %reset-button;
  @extend %button;
  background: $button-secondary-bg;
  border: 0.2rem solid $button-secondary-c;
  color: $button-secondary-c;

  @media (prefers-color-scheme: dark) {
    background: $global-c;
    border-color: $tertiary-color;
    color: darken($white-color, 10%);
  }

  &:hover,
  &:focus {
    opacity: 1;
    color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);

    @media (prefers-color-scheme: dark) {
      border-color: lighten($tertiary-color, 8%);
      color: $white-color;
    }
  }

  &.is-small {
    min-height: 3.5rem;
    padding: 0.7rem 2rem;
    font-size: 1.6rem;
    line-height: 1.3;
    border-radius: 2rem;
  }
}

.ice-btn-tertiary {
  @extend %reset-button;
  @extend %button;
  min-height: 3.2rem;
  padding: 0.6rem 1.4rem 0.4rem;
  background: $gray-3;
  border: 0.15rem solid white;
  color: $global-c;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    border-color: $tertiary-color;
    background-color: $tertiary-color;
    color: $white-color;
  }

  &.with-icon {
    padding: 0.4rem 1.6rem 0.2rem 0.7rem;

    .ice-icon {
      margin-top: -0.1rem;
      margin-right: 0.5rem;
      font-size: 2.1rem;
      color: $primary-color;

      @media (prefers-color-scheme: dark) {
        color: $global-c;
      }
    }
  }
}
