$button-primary-bg: $primary-color; // linear-gradient(to right, transparent 0%, $primary-darker 100%);
$button-primary-c: $white-color;
$button-secondary-bg: $white-color;
$button-secondary-c: $primary-color;
$button-tertiary-bg: $gray-3;
$button-tertiary-c: $global-c;

%button {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 4.5rem;
  padding: 0.9rem 2.8rem;
  border-radius: 2.3rem;
  border: 0;
  box-shadow: 0 0.3rem 0.4rem 0 rgba(0,0,0,0.15);
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  @include transition-default(background-color, box-shadow, color);
  //outline-offset: 0.2rem;

  &:hover,
  &:focus-within {
    box-shadow: 0 0.3rem 0.8rem 0 rgba(0,0,0,0.24);
  }

  @include for-tablet-and-upper {
    min-height: 5rem;
    padding: 0.8rem 4.5rem;
    border-radius: 2.5rem;
    font-size: 1.8rem;
  }
}

.ice-btn-primary {
  @extend %reset-button;
  @extend %button;
  background: $button-primary-bg;
  color: $button-primary-c;

  &:hover,
  &:focus {
    opacity: 1;
    background: darken($primary-color, 10%);
    color: $button-primary-c;
  }
}

.ice-btn-secondary {
  @extend %reset-button;
  @extend %button;
  background: $button-secondary-bg;
  border: 0.2rem solid $button-secondary-c;
  color: $button-secondary-c;

  &:hover,
  &:focus {
    opacity: 1;
    color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }

  &.is-small {
    min-height: 3.5rem;
    padding: 0.7rem 2rem;
    font-size: 1.6rem;
    line-height: 1.3;
    border-radius: 2rem;
  }
}

.ice-btn-tertiary {
  @extend %reset-button;
  @extend %button;
  min-height: 3.2rem;
  padding: 0.6rem 1.4rem 0.4rem;
  background: $gray-3;
  border: 0.15rem solid white;
  color: $global-c;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;

  &.with-icon {
    padding: 0.4rem 1.6rem 0.2rem 0.7rem;

    .ice-icon {
      margin-top: -0.1rem;
      margin-right: 0.5rem;
      font-size: 2.1rem;
      color: $primary-color;
    }
  }
}

/*@mixin button-style($style: 'primary', $size: 'normal', $icon-only: 'no', $shape: 'normal') {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

  @if ($style == 'primary') {
    background: $button-primary-bg;
    color: $button-primary-c;
    @include transition-default(background-color, background-image, box-shadow);

    &:hover,
    &:focus {
      opacity: 1;
      background: darken($primary-color, 5%);
      color: $button-primary-c;
      box-shadow: 0 0 0 0.5rem rgba($primary-color, 0.25);
    }

    .ice-icon {
      color: $secondary-color;
    }

  } @else if ($style =='secondary') {
    background: $button-secondary-bg;
    border: 0.1rem solid $button-secondary-bd-c;
    color: $button-secondary-c;
    font-weight: 900;
    letter-spacing: 0.025rem;
    @include transition-default(color, box-shadow);

    &:hover,
    &:focus {
      opacity: 1;
      background: lighten($button-secondary-bg, 2%);
      color: darken($button-secondary-c, 5%);
      box-shadow: 0 0 0 0.5rem rgba($button-secondary-bd-c, 0.25);
    }

    .ice-icon {
      color: $red-color;
    }
  }

  @if ($shape == 'round') {
    @if ($size == 'small') {
      min-height: 3rem;
      padding: 0.4rem 1.5rem 0.3rem;
      font-size: 1.2rem;
      line-height: 1.3;
      border-radius: 1.5rem;
    }
    @else {
      min-height: 3.8rem;
      width: 3.8rem;
      border-radius: 1.9rem;
      font-size: 1.5rem;
      line-height: 1;

      @include for-tablet-and-upper {
        min-height: 4.2rem;
        width: 4.2rem;
        border-radius: 2.1rem;
        font-size: 1.7rem;
      }
    }
  }
  @else {
    @if ($size == 'small') {
      min-height: 2.8rem;
      padding: 0.4rem 1.3rem 0.3rem;
      border-radius: 1.4rem;
      font-size: 1.2rem;
      line-height: 1.2;

      @include for-tablet-and-upper {
        font-size: 1.25rem;
      }
    }
    @else {
      min-height: 3.2rem;
      padding: 0.7rem 1.8rem;
      border-radius: 2.5rem;
      font-size: 1.3rem;
      line-height: 1.3;

      @include for-tablet-and-upper {
        min-height: 3.6rem;
        border-radius: 1.8rem;
        font-size: 1.4rem;
      }

      @include for-large-screen {
        min-height: 3.8rem;
        padding: 0.6rem 2.3rem 0.5rem;
        border-radius: 2rem;
      }
    }
  }

  @if ($icon-only == 'yes') {
    .ice-icon {
      margin: 0;
      font-size: 2.4rem;

      @if ($style == 'primary') {
        color: $secondary-color;
      } @else {
        color: $button-secondary-c;
      }
    }
  } @else {
    .ice-icon {
      margin-right: 1rem;

      &.icon-chevrons-left-bold,
      &.icon-chevrons-right-bold {
        margin-right: 1.2rem;
      }
    }
  }
}*/
