%heading-base {
  margin: 0;
  font-family: $font-heading;
}

%h1 {
  @extend %heading-base;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.35;
  font-weight: 900;
  text-align: center;

  @include for-tablet {
    font-size: 2.7rem;
  }

  @include for-desktop {
    font-size: 2.8rem;
    line-height: 1.3;
  }
}

%h2 {
  @extend %heading-base;
  margin-bottom: 2.3rem;
  color: $global-c;
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 900;

  @include for-tablet {
    font-size: 2.5rem;
  }

  @include for-desktop {
    font-size: 2.8rem;
    line-height: 1.2;
  }
}

%h3 {
  @extend %heading-base;
  margin-bottom: 1.8rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.35;

  @include for-tablet {
    font-size: 2.2rem;
  }

  @include for-desktop {
    margin-bottom: 2.6rem;
    font-size: 2.4rem;
  }
}

%h4 {
  @extend %heading-base;
  margin-bottom: 1.8rem;
  color: $global-c;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4;

  @include for-desktop {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
  }
}

%h5 {
  @extend %heading-base;
  margin-bottom: 1.9rem;
  color: $global-c;
  font-size: 1.9rem;
  line-height: 1.4;

  @include for-desktop {
    font-size: 2.1rem;
  }
}

.ice-page-title {
  @extend %h1;
  margin-bottom: 4rem;

  @include for-mobile {
    max-width: 80vw;
    text-align: left;
  }

  @include for-tablet-and-upper {
    padding-left: $col-1;
    padding-right: $col-1;
  }

  @include for-desktop {
    margin-bottom: 5rem;
    padding-left: $col-2;
    padding-right: $col-2;
  }

  &.with-subtitle {
    margin-bottom: 0;
  }
}

.ice-title-level-2 {
  @extend %h2;

  &:not(.with-no-subtitle) {
    margin-bottom: 0.3rem;
  }
}

.ice-subtitle {
  margin-bottom: 2.3rem;
  color: $tertiary-color;
  font-weight: bold;
  font-size: 1.7rem;

  @include for-desktop {
    font-size: 1.9rem;
  }

  @media (prefers-color-scheme: dark) {
    color: $tertiary-light;
  }

  &.text-center {
    text-align: center;
  }
}

.ice-title-level-3 {
  @extend %h3;
  margin-bottom: 0.3rem;
}
