---
import { initI18n, getLangFromUrl } from '@/i18n/i18n.ts'

const lang = getLangFromUrl(Astro.url)
const t = await initI18n(lang)

export interface Props {
  breadcrumb: {
    url: string
    label: string
    isCurrent: boolean
  }[]
}

const { breadcrumb } = Astro.props
---

<nav
  class="breadcrumb"
  role="navigation"
  aria-label={t('nav.label_breadcrumb')}
>
  <ol class="breadcrumb-list list-unstyled">
    <li class="breadcrumb-item">
      <a
        class="breadcrumb-link"
        href="/"
      >
        {t('nav.home')}
      </a>
    </li>
    {
      breadcrumb &&
        breadcrumb.map((item) => (
          <li class="breadcrumb-item">
            <a
              class="breadcrumb-link"
              href={item.url}
              aria-current={item.isCurrent ? 'page' : undefined}
            >
              {item.label}
            </a>
          </li>
        ))
    }
  </ol>
</nav>
