---
//import '@styles/components/footer.css'
import logoIdeance from '@assets/img/lg_ideance.svg'

import { initI18n, getLangFromUrl } from '@/i18n/i18n.ts'

const lang = getLangFromUrl(Astro.url)
const t = await initI18n(lang)
---

<footer 
  role="contentinfo" 
  class="ice-footer">
  <div class="ice-footer-inner ice-container">
    <div class="ice-footer-logo">
      <img alt="Ideance" src={logoIdeance.src}>
    </div>
    <div class="ice-footer-infos">
      <p>{t('nav.footer')}</p>
    </div>
    <div class="ice-footer-links"></div>
  </div>
</footer>