---
import Navigation from '@components/Navigation.astro'
import Lang from '@components/Lang.astro'

import '@styles/components/header.css'
import logoIdeance from '@assets/img/lg_ideance.svg';

interface Props {
  siteTitle: string
}

const { siteTitle } = Astro.props
---

<header
  class="ice-header"
  role="banner"
>
  <div class="ice-header-top">
    <div class="ice-header-top-inner ice-container">
      <Lang />
      <Navigation />
    </div>
  </div>
  <div class="ice-header-inner ice-container">
    <div class="ice-logo">
      <img alt="Ideance" src={logoIdeance.src} />
    </div>
    <div class="ice-site-title-wrapper">
      <a href="/" class="ice-site-title">{siteTitle}</a>
      <p class="ice-site-slogan">Les obligations légales pour l’accessibilité des contenus et services numériques en France</p>
    </div>
  </div>
</header>
