---
import Navigation from '@components/Navigation.astro'
// import Lang from '@components/Lang.astro'

import '@styles/components/header.css'

interface Props {
  siteTitle: string
}

const { siteTitle } = Astro.props
---

<header
  class="header"
  role="banner"
>
  <!-- <Lang /> -->
  <a href="/">
    {siteTitle}
  </a>
  <Navigation />
</header>
