---
//import '@styles/components/skiplinks.css'

import { initI18n, getLangFromUrl } from '@/assets/i18n/i18n.ts'

const lang = getLangFromUrl(Astro.url)
const t = await initI18n(lang)
---

<a
  href="#main"
  class="skip-link"
>
  {t('nav.skiplink_to_main')}
</a>
