//--- Text Fonts
@font-face {
  font-family: 'Lato';
  src:  url('#{$font-path}/Lato/Lato-Regular.woff2') format('woff2'),
        url('#{$font-path}/Lato/Lato-Regular.woff') format('woff'),
        url('#{$font-path}/Lato/Lato-Regular.svg') format('svg'),
        url('#{$font-path}/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:  url('#{$font-path}/Lato/Lato-Bold.woff2') format('woff2'),
        url('#{$font-path}/Lato/Lato-Bold.woff') format('woff'),
        url('#{$font-path}/Lato/Lato-Bold.svg') format('svg'),
        url('#{$font-path}/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:  url('#{$font-path}/Lato/Lato-Black.woff2') format('woff2'),
        url('#{$font-path}/Lato/Lato-Black.woff') format('woff'),
        url('#{$font-path}/Lato/Lato-Black.svg') format('svg'),
        url('#{$font-path}/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src:  url('#{$font-path}/Lato/Lato-Italic.woff2') format('woff2'),
        url('#{$font-path}/Lato/Lato-Italic.woff') format('woff'),
        url('#{$font-path}/Lato/Lato-Italic.svg') format('svg'),
        url('#{$font-path}/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:  url('#{$font-path}/Lato/Lato-Regular.woff2') format('woff2'),
        url('#{$font-path}/Lato/Lato-Regular.woff') format('woff'),
        url('#{$font-path}/Lato/Lato-Regular.svg') format('svg'),
        url('#{$font-path}/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vera Mono";
  src:  url('#{$font-path}/Vera/VeraMono.woff2') format('woff2'),
        url('#{$font-path}/Vera/VeraMono.woff') format('woff'),
        url('#{$font-path}/Vera/VeraMono.svg') format('svg'),
        url('#{$font-path}/Vera/VeraMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//--- Icon Font
@font-face {
  font-family: 'fonticon';
  src:  url('#{$font-path}/Fonticon/icomoon.eot');
  src:  url('#{$font-path}/Fonticon/icomoon.woff') format('woff'),
        url('#{$font-path}/Fonticon/icomoon.svg#icomoon') format('svg'),
        url('#{$font-path}/Fonticon/icomoon.eot#iefix') format('embedded-opentype'),
        url('#{$font-path}/Fonticon/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ice-icon {
  font-family: 'fonticon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e910";
}
.icon-up-page:before {
  content: "\e906";
}
.icon-diagram:before {
  content: "\e909";
}
.icon-lightbulb:before {
  content: "\e90a";
}
.icon-route:before {
  content: "\e90b";
}
.icon-summary:before {
  content: "\e90c";
}
.icon-timer:before {
  content: "\e90d";
}
.icon-question:before {
  content: "\e90e";
}
.icon-company:before {
  content: "\e90f";
}
.icon-tiktok:before {
  content: "\e900";
}
.icon-x:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-two-chevrons-left:before {
  content: "\e907";
}
.icon-two-chevrons-right:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-instagram:before {
  content: "\ea92";
}
