html {
  overflow-x: hidden;
  font-size: $font-global-size;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $white-color;
  color: $global-c;
  font-family: $font-global;
  font-size: $font-body-size;
  font-weight: normal;
  line-height: $font-body-l-hgt;
  -webkit-font-smoothing: subpixel-antialiased;

  @media (prefers-color-scheme: dark) {
    background-color: $global-c;
    color: $white-color;
  }

  @include for-desktop {
    font-size: $font-body-size-dtp;
    line-height: 1.6;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

a,
[ui-sref] {
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}
