$col-1: 8.333333%;
$col-2: 16.666667%;
$col-3: 25%;
$col-4: 33.333333%;
$col-5: 41.666667%;
$col-6: 50%;
$col-7: 58.333333%;
$col-8: 66.666667%;
$col-9: 75%;
$col-10: 83.333334%;
$col-11: 91.666667%;

.ice-container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include for-mobile {
    &:not(.with-no-gutters) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @include for-tablet-and-upper {
    max-width: $screen-md;
  }

  @include for-desktop {
    max-width: $screen-lg;
  }

  @include for-large-screen {
    max-width: $screen-xl;
  }

  @include for-very-large-screen {
    max-width: $screen-xxl;
  }

  &.is-narrow {

    @include for-tablet-and-upper {
      max-width: $col-10;
    }

    @include for-desktop {
      max-width: $col-8;
    }
  }
}

@include for-tablet-and-upper {
  .with-sidebar {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3rem;

    .ice-sidebar-left {
      flex: 0 0 $col-3;
      display: initial;
      position: sticky;
      top: 0;

      @include for-large-screen {
        flex: 0 0 $col-3;
        padding-left: $col-1;
      }
    }

    .ice-body {
      flex: 0 0 $col-9;
      padding-left: $col-1;

      @include for-large-screen {
        flex: 0 0 $col-9;
        padding-right: $col-1;
      }
    }
  }
}
