%icon-base {
  font-family: 'fonticon' !important; /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  text-rendering: auto;
  transform: translate(0, 0);
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ice-icon {
  @extend %icon-base;
  display: inline-flex;
  font-size: 1.7rem;
  line-height: 1;

  &.is-large {
    font-size: 2.4rem;
  }
}

.icon-opquast:before {
  content: "\e904";
  margin-right: -0.2rem;
  margin-bottom: -0.2rem;
  font-size: 120%;
}

.icon-chevrons-left-bold:before {
  content: "\e911\e911";
  padding-bottom: 0.2rem;
  font-size: 95%;
  font-weight: normal;
  letter-spacing: -0.8rem;
}
.icon-chevrons-right-bold:before {
  content: "\e909\e909";
  padding-bottom: 0.2rem;
  font-size: 95%;
  font-weight: normal;
  letter-spacing: -0.7rem;
}

.icon-tiktok:before {
  content: "\e900";
}
.icon-x:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-opquast:before {
  content: "\e906";
}
.icon-two-chevrons-left:before {
  content: "\e907";
}
.icon-two-chevrons-right:before {
  content: "\e908";
}
.icon-chevron-right-bold:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-comments:before {
  content: "\e90f";
}
.icon-chevron-left-bold:before {
  content: "\e911";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-instagram:before {
  content: "\ea92";
}