/* Styles de textes */
.text-center { text-align: center; }
.text-right { text-align: right; }

.italic { font-style: italic; }
.bold { font-weight: bold; }

.uppercase { text-transform: uppercase; }



/* Listes */
.list-unstyled {
  list-style: none;
  padding: initial;
}
.list {
  list-style: disc;
  list-style-position: inside;
  padding-left: var(--spacer-8);
}



/* a11y */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.visually-hidden-focusable:focus,
.visually-hidden-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
