body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.25s,
    background-color 0.25s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.wrapper-main {
  display: grid;
  align-content: start;
  grid-template-columns: minmax(var(--size-20), 1fr) minmax(auto, 968px) minmax(var(--size-20), 1fr);
}

/* Selecteur where pour poids 0 (override facile) */
:where(.wrapper-main > *) {
  grid-column: 2;
}
